$base: #4caf50;
$base-color-id: 250;
$base-20: hsl($base-color-id, 50%, 20%);
$base-40: hsl($base-color-id, 50%, 40%);
$base-80: hsl($base-color-id, 50%, 80%);

$alternate-color-id: 75;
$alternate-20: hsl($alternate-color-id, 50%, 20%);
$alternate-40: hsl($alternate-color-id, 50%, 40%);
$alternate-60: hsl($alternate-color-id, 50%, 60%);
$alternate-80: hsl($alternate-color-id, 50%, 80%);

button {
  background-color: $base;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 32px;
}

.LightsOut {
  border: 2px solid $base;
  margin: 20px;
  width: 500px;
  background-color: $base-20;
  border-radius: 5px;
  margin: auto;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .col {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 2px solid $base;
    width: 100px;
    height: 100px;
    border-radius: 5%;
    background-color: $base-20;
    margin: 4px;

    &.shadow {
      border: 2px solid $base-40;

      &:hover {
        border: 2px solid $base-80;
      }

      &.on {
        border-color: $alternate-40;
        background-color: $alternate-80;
        outline-color: $alternate-60;
        box-shadow: 2px 2px 7px 2px $alternate-20;

        &:hover {
          border: 2px solid $alternate-80;
        }
      }
    }
  }
}
